name: Lint ChatAPI
# This workflow runs the linter for the ChatAPI project.
# It is triggered on push to the master branch and on pull request events.
# It uses the `uv` tool to run the linter script located in `scripts/lint.sh`.
# The linter is run in a Docker container, and the working directory is set to the root of the project.

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  lint-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.4.15"
          enable-cache: true
      - run: uv run bash scripts/lint.sh
        working-directory: /
